<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/basestyle.css" rel="stylesheet">
    {% block style %}{% endblock%}
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/create">Create Rating</a></li>
                <li><a href="/edit">Edit Ratings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>